@import '~bootstrap/scss/bootstrap';

.course1 {
  background-size: 70rem;
  // width: 100rem;
  height: 25rem;
  background-image: url("https://generalassemb.ly/sites/default/files/styles/program_header_desktop_xxl_1x/public/2020-01/1_UXDIR_HeaderImage_011420.jpg?itok=k9IcLXXL");
}
